.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #000; 
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  background-color: #fff; 
}

th, td {
  border: 1px solid #ddd; 
  padding: 12px; 
  color: #000;
}

th {
  background-color: red;
  color: #fff; 
}

tr:nth-child(even) {
  background-color: #f9f9f9; 
}

tr:hover {
  background-color: #f2f2f2;
}